<!DOCTYPE html>
<html>
<head>
    <title>Login Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
    
    </style>
</head>
<body>
    <div class="container">
        <div id="header"> 
            <h1>Login.com</h1>
        </div>
        
        {% block content %}
        {% endblock %}
    </div> 
</body>
</html>