{% extends 'base2.html' %}

{% block content %}
    <div class="main-menu"">
        <style>
            .main-menu {
                text-align: center;
                margin-top: 100px;
            }
            .btn {
                margin: auto;
                width: 50%;

            }
        </style>
        <a class="btn btn-primary btn-lg btn-block" role="button" href="/nav_signup">Sign Up</a>
        <a class="btn btn-primary btn-lg btn-block" href="/nav_signin" role="button">Sign In</a>
        <a class="btn btn-secondary btn-lg btn-block" href="/nav_control_panel" role="button">Control Panel</a>
    </div>
{% endblock %}